@import "external/reusables.less";
@import "external/BootstrapSameHeightColumns.less";
@import "external/BootstrapCenteredColumns.less";

.sarah-henderson{
    font-size:50px;
    text-align:center;
}

.news-list-item-intro {
    &:first-letter {
        float: left;
        color: @brand-primary;
        font-size: 75px;
        line-height: 60px;
        padding-top: 4px;
        padding-right: 8px;
        padding-left: 3px;
    }
}

.news-list-icon {
    color: #fff;
    background: @brand-primary;
    padding: 7px 5px;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    vertical-align: middle;
}
.footer{
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 2, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 2, 0.3);
}