@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
<div class="container padding-bottom">
    <div class="col-sm-9">
        <div class="panel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3">
                        <h4 class="h2 sans-serif text-uppercase text-bold color-grey-light">19 Aug</h4>
                        <span class="label label-primary">Photography</span>
                        <span class="news-list-icon"><i class="fa fa-camera"></i></span>
                    </div>
                    <div class="col-sm-9">
                        <h3 class="news-list-title">News post title is jumbo and brilliant - it gets better spaceship</h3>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <img src="~/img/news-item-example-1.jpg" class="img-responsive padding-top-bottom" />
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <p class="news-list-item-intro">
                            I love soufflé biscuit cotton candy dessert brownie jujubes marshmallow. Candy jelly croissant. Sweet I love lemon drops sweet roll ice cream.
                            Dessert jelly beans tootsie roll. Brownie tiramisu tootsie roll carrot cake apple pie. Cheesecake cake ice cream I love topping. Biscuit sweet roll gingerbread tootsie roll jujubes.
                        </p>
                        <p>
                            I love tiramisu icing I love bonbon. Marzipan chupa chups toffee cake jelly beans biscuit pie. Biscuit I love chupa chups candy canes donut. Danish soufflé macaroon muffin candy candy canes tart. Muffin ice cream cookie. Cheesecake marshmallow biscuit halvah oat cake. I love jelly-o I love I love tiramisu biscuit I love I love. Jujubes I love muffin I love tart jelly I love marzipan cake. Tart marzipan powder cheesecake. Chupa chups soufflé cheesecake I love dragée dragée sesame snaps powder donut. Jujubes cupcake sugar plum icing tootsie roll I love. Chupa chups pastry I love halvah jelly beans donut.
                            Gummi bears apple pie chocolate. Halvah chocolate bar brownie macaroon sweet. Liquorice I love I love I love. Fruitcake croissant donut. Sugar plum gummi bears macaroon cheesecake cake. Ice cream tart tart pie sesame snaps jelly beans. Sweet gummies soufflé jelly beans cake jelly beans. Chupa chups marzipan cake lollipop chocolate cake I love I love. Chupa chups cotton candy donut chupa chups. Powder biscuit toffee dragée cheesecake caramels pie. Cookie jujubes I love. Pie sesame snaps brownie icing candy gingerbread fruitcake biscuit. Fruitcake marshmallow gummies pie I love toffee cookie sugar plum dessert. Gingerbread croissant marzipan.
                        </p>
                        <p>
                            Croissant bear claw sesame snaps jelly beans chocolate caramels pastry brownie I love. Sesame snaps carrot cake bear claw apple pie macaroon candy canes lemon drops I love brownie. Dragée brownie oat cake pastry jujubes. Tart dragée sugar plum gummi bears candy. Candy gummies lollipop toffee danish. Muffin caramels I love I love tiramisu wafer pudding. Jelly-o dessert brownie croissant sweet dragée caramels soufflé. Chocolate bar I love donut. Candy canes I love I love oat cake pastry. I love candy canes liquorice chocolate cake dragée cotton candy gummi bears I love croissant. Lemon drops wafer I love I love dragée powder. Halvah cake I love apple pie cupcake icing gingerbread liquorice fruitcake. Jelly beans lemon drops bear claw I love I love sugar plum.
                        </p>
                        <p>
                            Cake lemon drops sesame snaps. Sweet roll apple pie tootsie roll croissant I love jelly beans tootsie roll chupa chups toffee. Jelly-o I love lemon drops sesame snaps. Powder marshmallow candy. Ice cream cake chocolate cookie bear claw cupcake sweet roll icing liquorice. Soufflé biscuit brownie marzipan toffee jujubes I love pie. Cake cookie cake I love jujubes. Soufflé sweet sesame snaps topping. Halvah donut dragée gingerbread candy canes jelly beans danish. Chocolate bar icing ice cream I love candy canes brownie danish biscuit. Tart cake caramels apple pie chocolate cheesecake icing pudding. Pudding I love cake I love candy croissant croissant jelly macaroon. Cupcake pudding I love gummies jelly pudding chocolate cake. Tiramisu gummies bonbon sugar plum.
                        </p>
                        <p>
                            Lemon drops marzipan I love. Sweet roll marzipan wafer bonbon. Jelly-o marshmallow cupcake. Gummies soufflé I love pudding donut tiramisu. Fruitcake candy canes cheesecake muffin pie lollipop chocolate bar marshmallow biscuit. Sweet roll candy canes candy tart sesame snaps halvah biscuit. I love icing caramels chupa chups wafer brownie I love chocolate chupa chups. Bear claw gummi bears pastry bonbon fruitcake topping jelly toffee. Carrot cake I love liquorice. Sugar plum pudding oat cake gummi bears pastry powder. Cake muffin bonbon cupcake sweet roll gummies chocolate cake danish. Bear claw cookie toffee chocolate bar tootsie roll.
                        </p>
                    </div>

                </div>
            </div>
        </div>

        <div class="panel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xxs-12">
                        <h4>Related Articles</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxs-12 col-xs-4">
                        <a href="#" class="related-link">
                            <img src="~/img/Corprate-canals-keep-businesses-afloat.jpg" class="img-responsive related-img" />
                            <h5>Corprate canals keep businesses afloat</h5>
                            <p><i class="fa fa-calendar color-primary"></i> Fri 01/05/2015</p>
                        </a>
                    </div>
                    <div class="col-xxs-12 col-xs-4">
                        <a href="#" class="related-link">
                            <img src="~/img/Global-warming-warms-hearts.jpg" class="img-responsive related-img" />
                            <h5>Corprate canals keep businesses afloat</h5>
                            <p><i class="fa fa-calendar color-primary"></i> Fri 01/05/2015</p>
                        </a>
                    </div>
                    <div class="col-xxs-12 col-xs-4">
                        <a href="#" class="related-link">
                            <img src="~/img/news-item-example-1.jpg" class="img-responsive related-img" />
                            <h5>Corprate canals keep businesses afloat</h5>
                            <p><i class="fa fa-calendar color-primary"></i> Fri 01/05/2015</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
                </div>
                <div class="col-sm-3">
                    <div class="panel">
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-xs-10 col-xs-push-1">
                                    <h4 class="text-center">About Me </h4>
                                    <img src="~/img/sarah.jpg" class="img-circle img-responsive img-thumbnail" />
                                    <p class="padding-top text-center">I love soufflé biscuit cotton candy dessert brownie jujubes marshmallow.</p>
                                    <a href="#" class="btn btn-primary btn-sm btn-block text-uppercase">Read More <i class="fa fa-chevron-circle-right"></i></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
