@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
<div class="container padding-bottom">
    <div class="col-sm-9">
        <div class="panel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3">
                        <h4 class="h2 sans-serif text-uppercase text-bold color-grey-light">19 Aug</h4>
                        <span class="label label-primary">Photography</span>
                        <span class="news-list-icon"><i class="fa fa-camera"></i></span>
                    </div>
                    <div class="col-sm-9">
                        <h3 class="news-list-title">News post title is jumbo and brilliant - it gets better spaceship</h3>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <img src="~/img/news-item-example-1.jpg" class="img-responsive padding-top-bottom" />
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <p class="news-list-item-intro">
                            I love soufflé biscuit cotton candy dessert brownie jujubes marshmallow. Candy jelly croissant. Sweet I love lemon drops sweet roll ice cream.
                            Dessert jelly beans tootsie roll. Brownie tiramisu tootsie roll carrot cake apple pie. Cheesecake cake ice cream I love topping. Biscuit sweet roll gingerbread tootsie roll jujubes.
                        </p>
                    </div>
                    <div class="col-xs-12 text-right">
                        <a href="#" class="btn btn-primary text-uppercase">Continue Reading <i class="fa fa-chevron-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3">
                        <h4 class="h2 sans-serif text-uppercase text-bold color-grey-light">19 Aug</h4>
                        <span class="label label-primary">Photography</span>
                        <span class="news-list-icon"><i class="fa fa-camera"></i></span>
                    </div>
                    <div class="col-sm-9">
                        <h3 class="news-list-title">Corporate canals keep businesses afloat</h3>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <img src="~/img/Corprate-canals-keep-businesses-afloat.jpg" class="img-responsive padding-top-bottom" />
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <p class="news-list-item-intro">
                            I love soufflé biscuit cotton candy dessert brownie jujubes marshmallow. Candy jelly croissant. Sweet I love lemon drops sweet roll ice cream.
                            Dessert jelly beans tootsie roll. Brownie tiramisu tootsie roll carrot cake apple pie. Cheesecake cake ice cream I love topping. Biscuit sweet roll gingerbread tootsie roll jujubes.  Brownie tiramisu tootsie roll.  Brownie tiramisu tootsie roll.
                        </p>
                        <p>Dessert sugar plum jelly halvah brownie sesame snaps ice cream. Brownie icing jelly-o I love. Tiramisu donut chocolate bar cheesecake dessert I love. Cake candy gingerbread biscuit powder sugar plum gingerbread ice cream pudding.</p>
                    </div>
                    <div class="col-xs-12 text-right">
                        <a href="#" class="btn btn-primary text-uppercase">Continue Reading <i class="fa fa-chevron-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3">
                        <h4 class="h2 sans-serif text-uppercase text-bold color-grey-light">19 Aug</h4>
                        <span class="label label-primary">Photography</span>
                        <span class="news-list-icon"><i class="fa fa-camera"></i></span>
                    </div>
                    <div class="col-sm-9">
                        <h3 class="news-list-title">Global panic storms world as solar radiation keeps hearts warm</h3>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <img src="~/img/Global-warming-warms-hearts.jpg" class="img-responsive padding-top-bottom" />
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <p class="news-list-item-intro">
                            I love soufflé biscuit cotton candy dessert brownie jujubes marshmallow. Candy jelly croissant. Sweet I love lemon drops sweet roll ice cream.
                            Dessert jelly beans tootsie roll. Brownie tiramisu tootsie roll carrot cake apple pie. Cheesecake cake ice cream I love topping. Biscuit sweet roll gingerbread tootsie roll jujubes.
                        </p>
                    </div>
                    <div class="col-xs-12 text-right">
                        <a href="#" class="btn btn-primary text-uppercase">Continue Reading <i class="fa fa-chevron-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <nav class="text-center text-sans-serif">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true"><i class="fa fa-chevron-left"></i></span>
                    </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true"><i class="fa fa-chevron-right"></i></span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-sm-3">
        <div class="panel">
            <div class="panel-body">

                <div class="row">
                    <div class="col-xs-10 col-xs-push-1">
                        <h4 class="text-center">About Me </h4>
                        <img src="~/img/sarah.jpg" class="img-circle img-responsive img-thumbnail" />
                        <p class="padding-top text-center">I love soufflé biscuit cotton candy dessert brownie jujubes marshmallow.</p>
                        <a href="#" class="btn btn-primary btn-sm btn-block text-uppercase">Read More <i class="fa fa-chevron-circle-right"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
